# NPM
node_modules/
/package-lock.json

# Build related
/report.html
/openeo.js
/openeo.min.js
/openeo.node.js
/openeo.node.min.js
/openeo.d.ts

# Reports
coverage/
docs/

# Temporary files from the earthengine tests
/lorem.txt
/randomnumber.txt
/downloaded_file.txt
