body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 90%;
}

#map {
	width: 50%;
	height: 100vh;
}

.map-wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
}

.tool-container {
	position: absolute;
	top: 0px;
	/* right: 0px; */
	width: 20%;
	/* height: 100vh; */
	z-index: 500;
	right: 50%;
	transform: translate(50%);
}

.right-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 100vh;
	z-index: 500;
	background-color: white;
	overflow-y: auto;
}
.toolbar {
	border: solid 1px #676767;
	background-color: #f7f7f7;
    margin: 1%;
	padding: 5px;
	vertical-align: middle;
}
.data-toolbar, .processes-toolbar, .server-toolbar, .vis-toolbar, .auth-toolbar {
	display: inline-block;
	margin-right: 3%;
}
#serverAddress {
	width: 300px;
	font-family: monospace;
}
#runScript {
	font-weight: bold;
}
#newScript {
	margin-left: 3%;
}
.script {
	border: solid 1px #676767;
    margin: 1%;
	background-color: #f7f7f7;
}
.script button {
	margin: 5px;
	width: 10%;
	min-width: 100px;
}
h3 {
	margin: 0;
	padding: 0;
}
.scriptHeader {
	padding: 5px;
}
#scriptName {
	font-style: italic;
}