body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

#map {
	width: 50%;
	height: 100vh;
}

.map-wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
}

.tool-container {
	position: absolute;
	top: 0px;
	/* right: 0px; */
	width: 20%;
	/* height: 100vh; */
	z-index: 500;
	right: 50%;
	transform: translate(50%);
}

.right-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 100vh;
	z-index: 500;
	background-color: white;
	overflow-y: auto;
}
.toolbar {
	border: solid 1px #676767;
	background-color: #f7f7f7;
    margin: 1%;
	padding: 5px;
}
.data-toolbar, .processes-toolbar, .server-toolbar, .vis-toolbar {
	display: inline-block;
	margin-right: 3%;
}
.script{
	border: solid 1px #676767;
    margin: 1%;
	background-color: #f7f7f7;
}
.script button{
	margin: 5px;
	margin-left: 45%;
	width: 10%;
	min-width: 100px;
}
.scriptHeader{
	text-align: center;
	margin: 0;
	padding: 5px;
}