name: Tests
on: [push, pull_request]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
      - uses: actions/checkout@v6
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm run docs
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
      - uses: actions/checkout@v6
        with:
          path: js-client

      - uses: actions/checkout@v6
        with:
          repository: moregeo-it/openeo-test-api
          ref: refs/tags/v0.1.0
          path: test-api
      - name: setup and run test-api
        working-directory: test-api
        run: | 
          npm install
          npm run adduser js-client js-client
          npm run up

      - name: Install js-client dependencies
        working-directory: js-client 
        run: npm install

      - name: Test (Browser)
        working-directory: js-client 
        run: npm run test

      - name: Test (NodeJS)
        working-directory: js-client 
        run: npm run test_node