name: Tests
on: [push, pull_request]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v6
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm run docs
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v6
        with:
          path: js-client

      - uses: actions/checkout@v6
        with:
          repository: moregeo-it/openeo-test-api
          path: test-api
          ref: remove_gee
      - name: setup and run test-api
        working-directory: test-api
        run: | 
          npm install
          npm run adduser js-client js-client
          npm run up

      - name: install and test js-client
        working-directory: js-client 
        run: | 
          npm install
          npm run test_node