name: Tests
on: [push, pull_request]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm run docs
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v4
      - run: npm install

      - run: git clone https://github.com/moregeo-it/openeo-test-api.git
      - run: cd openeo-test-api
      - run: git fetch remote remove_gee
      - run: git checkout remove_gee && npm install
      - run: node src/adduser.js js-client js-client
      - run: npm run up

      - run: cd ..
      - run: npm run test
      - run: npm run test_node